* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(143, 143, 143);
  font-family: "Segoe UI";
}

/* Screen load */

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 99;
}

.hidden {
  animation: fadeOut 0.4s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: blue;
}

/* Stage 1 */

.content-1 {
  margin: 1rem 0;
  position: relative;
}

.box-1 {
  margin: 0 2rem;
}

.container-1 {
  margin: 1rem 0;
}

input[type="radio"] {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
}

/* Stage 2 */

.stage-2-div {
  height: 100vh;
}
.stage-2 {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 50%;
  border: 1px solid black;
  align-items: center;
}

h3 {
  font-weight: 500;
}

span {
  font-style: oblique;
}

.sameDiv {
  margin: 1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  padding: 0.2rem 0.8rem;
  font-size: 1rem;
  border: 1px solid gray;
  outline: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  border: 1px solid black;
}

.notCursor {
  cursor: not-allowed;
}
.txtCursor {
  cursor: text;
}

/* Pass message */
.pass-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.9);
}

.buttons {
  margin: 2% 0 1% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hide {
  display: none;
}

/* Wrong answer */
.red {
  color: red;
}

/* Correct answer */
.green {
  color: rgb(0, 255, 0);
}

.pass-container h2 {
  font-size: 5rem;
  text-transform: uppercase;
}

.pass-message p {
  font-size: 3rem;
  color: white;
}

.pass-message button {
  padding: 0.5rem;
  font-size: 2rem;
  border: 1px solid black;
  margin: 2% 0;
  cursor: pointer;
  transition: 0.1s;
  outline: none;
}

.pass-message button:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.resultDiv {
  display: flex;
  flex-direction: column;
  color: white;
  width: 28rem;
  font-weight: 100;
}

@media only screen and (max-width: 800px) {
  .container-1 h3 {
    font-size: 16px;
  }
  .container-1 p {
    font-size: 14px;
  }
  .container-2 h3 {
    font-size: 1.1em;
  }
  input[type="number"] {
    font-size: 0.9rem;
  }
  span {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1000px) {
  .stage-2 {
    margin: 2rem 0;
    height: 70vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    align-items: none;
    width: 100%;
  }
  .container-2 {
    border: 1px solid black;
  }
}
